{% extends 'base.html.twig' %}

{% block title %}FC-Pro | Pages{% endblock %}

{% block body %}
    <h1>{{'Page Index'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Title'|trans}}</th>
                <th>{{'Number'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.numPage }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_page_show', {'id': page.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-secondary" href="{{ path('app_page_edit', {'id': page.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-dark" href="{{ path('app_page_duplicate', {'id': page.id}) }}"><i class="fa-solid fa-paste"></i></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_page_new') }}"><i class="fa-solid fa-plus fa-lg"></i> {{'Create new page'|trans }}</a>
{% endblock %}
