{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {#<th>Content</th>#}
                <th>Capacity</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>StartDateTime</th>
                <th>EndDateTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.name }}</td>
                {#<td>{{ formation.content }}</td>#}
                <td>{{ formation.capacity }}</td>
                <td>{{ formation.price }}</td>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    
                    <a class="btn btn-primary" href="{{ path('app_formation_show', {'id': formation.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-secondary"href="{{ path('app_formation_edit', {'id': formation.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-dark" href="{{ path('app_formation_duplicate', {'id': formation.id}) }}"><i class="fa-solid fa-paste"></i></a>    
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_formation_new') }}"><i class="fa-solid fa-plus fa-lg"></i> {{'Create new formation'|trans }}</a>
{% endblock %}
